@charset "UTF-8";
/********************
*  HOME STYLE FILE  *
********************/
/**** start: [imports] ****/
@import url("../style/font.css");
@import url("../style/utility.css");
/*******************
*  VARIABLES FILE  *
*******************/
/************************ start: [navbar] ************************/
/************************ end: [navbar] ************************/
/******************** start: [product card] ********************/
/******************** end: [product card] ********************/
/*********************** start: [svg] ***********************/
/*********************** end: [svg] ***********************/
/******* start: [sticky] *******/
/******* end: [sticky] *******/
/********************* start: [transition] *********************/
/********************* end: [transition] *********************/
/***********************
*  MEDIA QUERIES FILE  *
***********************/
/**** end: [imports] ****/
/*********** start: [global styles] ***********/
* {
  font-family: Estedad, sans-serif;
  font-weight: normal;
}

/*********** end: [global styles] ***********/
/************************* start: [navbar] *************************/
#top-navbar-outer {
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: -60px;
  height: 120px;
  -webkit-box-shadow: 0 7.5px 15px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 7.5px 15px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 7.5px 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 7.5px 15px 0 rgba(0, 0, 0, 0.2);
}
#top-navbar-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
}

@media (max-width: 768px) {
  #top-navbar-inner ul {
    -webkit-box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
  }
}
#top-navbar > ul > li {
  position: relative;
}
#top-navbar > ul > li::after {
  -webkit-transition:  width ease-in-out 0.15s;
  -moz-transition:  width ease-in-out 0.15s;
  -o-transition:  width ease-in-out 0.15s;
  transition:  width ease-in-out 0.15s;
  position: absolute;
  display: inline-block;
  content: "";
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 1px;
  background-color: black;
}
#top-navbar > ul > li:hover::after {
  width: 100%;
}

/************************* end: [navbar] *************************/
/******************** start: [product carousel] ********************/
.carousel-img-container {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
}
.carousel-img-container > span {
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  border-radius: 1000px;
  -webkit-box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
}

.product-card {
  -webkit-transition:  transform ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -moz-transition:  transform ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  -o-transition:  transform ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition:  transform ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transform: translateY(0) scale(1);
}
.product-card:hover {
  transform: translateY(-5px) scale(1.02);
}

.owl-stage {
  padding: 10px 0 !important;
}

/******************** end: [product carousel] ********************/
/*********************** start: [footer] ***********************/
footer .footer-link {
  direction: rtl;
}
footer .footer-link::before {
  content: "";
  vertical-align: middle;
  margin-left: 5px;
  font-family: font-icon;
}
footer .footer-link:hover {
  background-image: linear-gradient(to left, #CFD8DC, transparent);
}

#email-newsletter::placeholder {
  text-align: right;
}

.social-media-svg {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.social-media-svg > svg {
  -webkit-transition:  fill ease-in-out 0.2s;
  -moz-transition:  fill ease-in-out 0.2s;
  -o-transition:  fill ease-in-out 0.2s;
  transition:  fill ease-in-out 0.2s;
  fill: #757575;
}
.social-media-svg > svg:hover {
  fill: black;
}

/*********************** end: [footer] ***********************/

/*# sourceMappingURL=style.css.map */
