/********************
*  HOME STYLE FILE  *
********************/

/**** start: [imports] ****/
@use "var";
@use "../../style/scss/util";
@use "../../style/scss/shadow";

@import url("../style/hf.css");
/**** end: [imports] ****/

/******************** start: [product carousel] ********************/
.carousel-img-container {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: #{var.$product-card-discount-margin}px;
	
	& > span {
		position: absolute;
		display: inline-block;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		line-height: #{var.$product-card-discount-size}px;
		height: #{var.$product-card-discount-size}px;
		width: #{var.$product-card-discount-size}px;
		border-radius: 1000px;
		@include shadow.shadow-all(5);
	}
}

.product-card {
	@include util.transition(["transform", "box-shadow"]);
	transform: translateY(0) scale(1);
	
	&:hover {
		transform: translateY(-5px) scale(1.02);
	}
}

.owl-stage {
	padding: 10px 0 !important;
}

/******************** end: [product carousel] ********************/
