@font-face {
	font-family: Estedad;
	src: url("../font/Estedad-Thin.ttf");
	font-weight: 100;
}

@font-face {
	font-family: Estedad;
	src: url("../font/Estedad-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: Estedad;
	src: url("../font/Estedad-Medium.ttf");
	font-weight: normal;
}

@font-face {
	font-family: Estedad;
	src: url("../font/Estedad-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: Estedad;
	src: url("../font/Estedad-Black.ttf");
	font-weight: 900;
}

@font-face {
	font-family: font-icon;
	src: url("../font/segmdl2.ttf");
}