/*************************
*  UTILITY CLASSES FILE  *
*************************/

/** start: [imports] **/
@use "material";
@use "mixin";
/** end: [imports] **/

/*********** start: [material colors classes] ***********/
@each $chain, $list in material.$material-colors {
	@each $name, $color in $list {
		.bg-material-#{$chain}-#{$name} {
			background-color: $color !important;
		}
		
		.material-#{$chain}-#{$name} {
			color: $color !important;
		}
	}
}

/*********** end: [material colors classes] ***********/

/******* start: [material colors classes::hover] *******/
@each $chain, $list in material.$material-colors {
	@each $name, $color in $list {
		.hover-bg-material-#{$chain}-#{$name}:hover {
			background-color: $color !important;
		}
		
		.hover-material-#{$chain}-#{$name}:hover {
			color: $color !important;
		}
	}
}

/******* end: [material colors classes::hover] *******/

/********** start: [material shadows classes] **********/
$-shadow-sizes: (
	"sm": 3,
	"md": 5,
	"lg": 8,
	"xl": 10,
	"xxl": 15,
	"xxxl": 20
);

@each $type, $size in $-shadow-sizes {
	.material-shadow-#{$type} {
		&-all {
			@include mixin.shadow($size);
		}
		
		&-top {
			@include mixin.shadow-top($size);
		}
		
		&-right {
			@include mixin.shadow-right($size);
		}
		
		&-bottom {
			@include mixin.shadow-bottom($size);
		}
		
		&-left {
			@include mixin.shadow-left($size);
		}
	}
}

/********** end: [material shadows classes] **********/

/**************** start: [transition] ****************/
$-transition-timings: (
	"slow": 0.3s,
	"normal": 0.2s,
	"fast": 0.1s
);

@each $timing, $amount in $-transition-timings {
	.transition-#{$timing} {
		transition: all ease-in-out #{$amount} !important;
	}
}

/**************** end: [transition] ****************/

/**
 * font icon
 */
.font-icon {
	font-family: font-icon !important;
}

/**
 * disables user-select
 */
.no-user-select {
	user-select: none !important;
}

/**
 * cursor changes to pointer
 */
.cursor-pointer {
	cursor: pointer !important;
}