/*******************
*  VARIABLES FILE  *
*******************/

/** start: [media] **/
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
/** end: [media] **/

/************************ start: [navbar] ************************/
$navbar-outer-height: 120px;
$navbar-inner-height: 60px;
$navbar-diff-height: $navbar-outer-height - $navbar-inner-height;

$navbar-outer-shadow-length: 15;
$navbar-inner-shadow-length: 5;
/************************ end: [navbar] ************************/

/******************** start: [product card] ********************/
$product-card-discount-size: 50;
$product-card-discount-margin: $product-card-discount-size/2;
/******************** end: [product card] ********************/

/*********************** start: [svg] ***********************/
$social-media-svg-size: 30px;
/*********************** end: [svg] ***********************/
