/**************
*  MAIN FILE  *
**************/

/**** start: [imports] ****/
@use "var";
@use "mixin";
@use "material";
@import "font";
@import "utility";
/**** end: [imports] ****/

/*********** start: [global styles] ***********/
* {
	font-family: Estedad, sans-serif;
	font-weight: normal;
}

/*********** end: [global styles] ***********/

/************************* start: [navbar] *************************/
#top-navbar {
	&-outer {
		z-index: 999;
		@include mixin.sticky-top(-(var.$navbar-diff-height));
		height: var.$navbar-outer-height;
		@include mixin.shadow-bottom(var.$navbar-outer-shadow-length);
	}
	
	&-inner {
		@include mixin.sticky-top(0);
		height: var.$navbar-inner-height;
	}
}

@include mixin.media-breakpoint-down(var.$md) {
	#top-navbar-inner ul {
		@include mixin.shadow(var.$navbar-inner-shadow-length);
	}
}

#top-navbar > ul > li {
	position: relative;
	
	&::after {
		@include mixin.transition("width", 0.15s);
		position: absolute;
		display: inline-block;
		content: "";
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0;
		height: 1px;
		background-color: black;
	}
	
	&:hover::after {
		width: 100%;
	}
}

/************************* end: [navbar] *************************/

/******************** start: [product carousel] ********************/
.carousel-img-container {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: #{var.$product-card-discount-margin}px;
	
	& > span {
		position: absolute;
		display: inline-block;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		line-height: #{var.$product-card-discount-size}px;
		height: #{var.$product-card-discount-size}px;
		width: #{var.$product-card-discount-size}px;
		border-radius: 1000px;
		@include mixin.shadow(5);
	}
}

/******************** end: [product carousel] ********************/
